.footer {
  &__inner {
    padding: 20px 0;
  }
  &__subtitle {
    font-size: 22px;
    text-align: center;
    letter-spacing: 0.05em;
  }
  &__info {
    display: block;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.02em;
  }
}

/*376px*/

@media (max-width: 376px) {
  .footer {
    &__inner {
      padding: 10px 0;
    }
    &__subtitle {
      font-size: 15px;
    }
    &__info {
      font-size: 13px;
    }
  }
}

/*------*/
